{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'daily/daily.css' %}">
    <title>Daily</title>
</head>
<body>
    <h1>{{user}}</h1>
    <h2> Goals</h2>
    <ul>
    {% for goal in goals %}
        <li>
            <div>{{goal.goal}}</div>
            <div>What to do today:{{goal.what}}</div>
            <div>When to do it by: {{goal.when}}</div>
            <div>Who can help: {{goal.who}}</div>
        </li>
    {% endfor %}
    </ul>
</body>
</html>